#RewriteEngine On
#RewriteBase /
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.*)$ /blog/404.php [L]
#
#
#
#
#
#RewriteEngine On
#RewriteCond %{THE_REQUEST} /controller/* [NC]
#RewriteCond %{THE_REQUEST} /model/database.php [NC]
#RewriteCond %{THE_REQUEST} !/view/* [NC]
#RewriteRule ^ - [R=403,L]
#
#
#
#
#
##ErrorDocument 401 404.html
##ErrorDocument 403 404.html
##ErrorDocument 500 404.html
#ErrorDocument 404 /404.php

